<div class="container">
  <div class="row">
    <!-- メインコンテンツ -->
    <div class="col">

      <%= render 'layouts/search' %>

      <h2 class="mt-5 mb-4">商品一覧</h2>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-3 mb-4">
            <%= render 'public/items/item', item: item %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>

