<div class="container white-bg p-5">
  <h4 class="customers-table text-center mb-5">ログイン</h4>

  <!-- タブ見出し -->
  <ul class="nav nav-tabs" id="registrationTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="customer-tab" data-toggle="tab" href="#customer" role="tab">消費者</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="farmer-tab" data-toggle="tab" href="#farmer" role="tab">農家</a>
    </li>
  </ul>

  <!-- タブの中身 -->
  <div class="tab-content pt-4" id="registrationTabsContent">
    <!-- 消費者タブ -->
    <div class="tab-pane fade show active" id="customer" role="tabpanel">
      <div class="row justify-content-center">
        <div class="col-6">
          <%= render "public/sessions/customer_form", customer: Customer.new %>
        </div>
      </div>
    </div>

    <!-- 農家タブ -->
    <div class="tab-pane fade" id="farmer" role="tabpanel">
      <div class="row justify-content-center">
        <div class="col-6">
          <%= render "farmer/sessions/farmer_form", farmer: Farmer.new %>
        </div>
      </div>
    </div>
  </div>
</div>

