<div class="container">
  <div class="row">
    <div class="col">
      
     <%= render 'farmer/farmers/info', farmer: @farmer, reservations: @reservations, items_upcoming_slots_count: @items_upcoming_slots_count,
                                         items: @items, items_count: @items_count, recent_items_count: @recent_items_count, favorites_items_count: @favorites_items_count %>
      
      <div class="d-flex justify-content-end mb-4 mr-5">
        <%= link_to new_farmer_item_path, class: "btn btn-outline-success px-4 py-2 shadow-sm d-flex align-items-center" do %>
          商品を追加する
        <% end %>
      </div>
      <% if params[:filter] == "upcoming" %>
        <h2 class="mb-4">まもなく最終受取日の商品</h2>
      <% elsif params[:filter] == "commented" %>
        <h2 class="mb-4">最近コメントされた商品</h2>
      <% elsif params[:filter] == "liked"  %>
        <h2 class="mb-4">いいねされた商品</h2>
      <% else %>
        <h2 class="mb-4">投稿した商品</h2>
      <% end %>

      <div class="row">
        <% @filtered_items.each do |item| %>
          <div class="col-md-3 mb-4">
            <%= render 'farmer/items/item', item: item %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>

