<footer class="footer-custom text-center text-muted py-4  border-top">
  <div class="container">
    <p class="mb-1">Copyright &copy; <%= Time.current.year %> SAVE VEGE</p>
    <p class="mb-0">
      <%= link_to "About", about_path %>
    </p>
  </div>
</footer>